body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

.pr-container {
  .pr-button {
    background: white;
    width: 270px;
    min-height: 40px;
    border: 1px solid #b8bfca;
    border-radius: 4px;
    padding: 0.7em 1em;
  }

  .text-opacity {
    opacity: 0.4;
  }

  .pr-action-block {
    line-height: 1.5em;
    text-align: center;
    padding: 0.5em 1em;
  }

  .text-center {
    text-align: center;
  }

  .text-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .all-height {
    height: 100%;
  }

  .pr-margin-bottom,
  .ntnx.pr-margin-bottom {
    margin-bottom: 20px;
  }

  .pr-margin-top,
  .ntnx.pr-margin-top {
    margin-top: 20px;
  }

  .pr-location {
    background: #f3f4f5;
    width: 300px;
    min-height: 70px;
    border-radius: 4px;
    border-color: transparent;
    padding: 20px 15px 15px;;
  }

  .pr-location-edit {
    background: white;
    border: 1px solid #22a5f7;
    border-radius: 4px;
  }

  .pr-top-inner-padding {
    padding: 15px 15px 0;
  }

  .pr-bottom-inner-padding {
    padding: 15px;
  }

  .pr-schedule {
    background: white;
    width: 270px;
    min-height: 40px;
    border: 1px solid #b8bfca;
    border-radius: 4px;
    padding: 11px 10px;
    position: relative;

    &.active {
      border: 1px solid #22a5f7;
    }

    .schedule-actions {
      position: absolute;
      right: 0;
      bottom: -32px;
    }
  }

  .pr-collapsible {
    cursor: pointer;
  }

  .pr-title {
    padding: 25px 20px;
    border-bottom: 1px solid #f2f4f6;
  }

  .pr-name-actions {
    padding: 20px;
  }

  .pr-viz-wrapper {
    padding: 20px 70px;
  }

  .pr-steps {
    &.ntnx {
      margin-top: 0;
    }

    .steps-content {
      padding: 0;
    }
  }

  .pr-policy-name {
    height: 32px;
    min-width: 85px;
    padding: 4px 9px;
    border: 1px solid #d5dae0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;

    & > .ntnx-text-label.ntnx {
      color: #627386;
      font-size: 12px;
    }
  }

  .pr-input.ntnx-flex-layout > input.ntnx {
    margin-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .pr-add-location-link {
    margin-right: 30px;
  }
}